.container {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	height: 700px;
}

.body {
  display: flex;
  flex: 1 1 auto;
}

header {
  flex: 0 0 100px;
  background-color: antiquewhite;
}
footer {
  flex: 0 0 100px;
  background-color: antiquewhite;
}
.content {
  flex: 1 1 auto;
  margin: 0px;
  background-color: #EEEEEE;
}

.aside {
  flex: 0 0 200px;
  margin: 0px;
  background-color: cadetblue;
}


